.friendList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin: 50px auto 25px auto;
  padding: 0;
  width: 300px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border: 1px solid gray;
  padding: 10px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  width: 48px;
}

.name {
  width: 60%;
}
