.statistics {
  width: auto;
  max-width: 400px;
  height: 120px;
  margin: 0 auto;
  padding-top: 50px;
}

.statList {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  padding: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
}

.label {
  height: 30px;
  font-size: 16px;
  margin-top: 5px;
  color: white;
}

.percentage {
  height: 50px;
  font-size: 30px;
  margin-top: 10px;
  color: white;
}
