.transactionHistory {
  width: 50%;
  border-collapse: collapse;
  margin: 25px auto 25px auto;
}

.transactionHistory th,
.transactionHistory td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.transactionHistory th {
  background-color: #3f7fc9;
  color: white;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #f9f9f9;
  color: #404040;
}

.transactionHistory tbody tr:nth-child(odd) {
  background-color: #e6e6e6;
  color: #404040;
}
